* {
	background-color: #000000;
	color: #FFFFFF;
}

.header-container {
	padding-left: 20%;
}

.header {
	margin-bottom:70px;
	display: flex;
	justify-content:center;
	flex-direction: column;
	
}
.header-name {
	width: 290px;
}
.header-date {
	width: 290px;
}
.header-name > p {
	background: #FF0000;
	color: #FFFFFF;
	
	font-family: 'Arial';
	font-style: italic;
	font-weight: 700;
	font-size: 60px;
	line-height: 69px;	
	text-align:center;		
	margin-bottom: 38px;
	
}
.header-date > p {
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
	text-align:center;
}
.menu-container {
	padding-left: 20%;
}

.menu {
	margin-bottom:70px;
	display: flex;
	justify-content:center;
	flex-direction: column;
}

.main-item {	
	color: #FFFFFF;
	font-family: 'Space Mono';
	font-style: normal;
	font-size: 20px;
	text-align:left;
	background: #FF0000;
	width: 45px;
	margin-bottom:10px;
}
.item {
	background: #000000;
	color: #FFFFFF;
	font-family: 'Space Mono';
	font-style: normal;
	font-size: 20px;
	text-align:left;
	margin-bottom:10px;
}

.footer {
	display: flex;
	justify-content: center;
	padding:10px 0;	
	gap:25px;
	
}
.social {	

}