* {
	background-color: #FFFFFF;  
}

.header {
	background-color: #0000FF;	
	padding:5px 0;	
}
h1 {	
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	background-color: #0000FF;	
    padding: 20px;
}

.main-container {
	display: flex;
	justify-content:center;
    flex-wrap: wrap;
	gap: 20px;
}

.box {
	border: 5px solid #000000;
	padding: 10px;
    width: 100%;
    height:200px;
	margin:5px;
}


.footer {	
	justify-content: center;
    background-color: #0000FF;
	padding:1px 0;	
}

p {	
	font-family: 'Helvetica';	
	font-size: 20px;
	color: #000000;
    padding: 10px;
    text-align: center;
}

/* Если макет превышает размер iPhone 12 Pro */
@media only screen and (min-width: 391px) {    
    .box {
		width:45%;
	}
	p {
		font-size: 30px;
	}
}