* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*background-image: url(images/stars.jpg);
  background-size: cover;*/  
}

.header {
	background-color: #24303c;
	padding: 25px;
}

#main {
    width: auto;
    height: auto;    
    padding: 20px;
    background: linear-gradient(135deg, #54707c 1%, #24303c 99%);	
	/*radial-gradient(at top left, #24303c, #54707c);
	radial-gradient(#24303c, #54707c);*/
}

.photo-grid-container {
  display: flex;
  justify-content: center; /*вертикальное выравнивание*/
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; /*на новые строки отправятся не вошедшие элементы*/
  /*flex-direction: column;*/
  
   flex-direction: row;/*row-reverse;*/
   align-items: center; /*чтобы при column выровнять по центру*/
}

.photo-grid-item {
  width: 200px;
  height: 200px;
  /*border: 1px solid #fff;*/
  margin: 10px;
}

#footer {
	display: flex;
	justify-content: center;
    background-color: #24303c;
	padding:10px 0;	
	
}
#footer-item {
	display: flex;
	justify-content: space-around;
    width:10px;
}
.links {
  display: flex;
  justify-content: flex-end;
}
.social {
	margin: 10px;
	height: 25px;
}
.media {
	margin-left: 50px;
	justify-content: flex-end;
}


h1 {
    text-align: right;
	font-family:Garamond;
	font-size: 21px;
	color:#b5b5b5;	
}

h2 {
    text-align: left;
	font-family:Garamond;
	font-size: 21px;
	color:#b5b5b5;	
	margin:10px;
}

p {
    text-align: left;
	font-family:Garamond;
	font-size: 18px;
	color:#202b36;	
	margin:10px;
}


li {
	color:#b5b5b5;
	margin-top:25px;
}

a:link {
  color: black;
}
a:visited {
  color: black;
}

a:hover {
  color: #b5b5b5;
}

h4 {
    text-align: left;
	font-family:Garamond;
	font-size: 15px;
	color:#b5b5b5;	
	margin:10px;
}
